<% content_for :title, "Airpay - Shopping" %>

<% if @reservation.nil? %>
  <p class="text-center">Désolé, nous n'avons pas trouvé de reservation.</p>
<% else %>
  <h2 class="text-center"><%= @title %></h2>

  <div class="container" id="app">

    <div class="product-list">
      <%= render 'orders/product_list' %>
    </div>

    <div class="shopping-cart">
      <%= render 'orders/shopping_table' %>
    </div>

    <div id="shopping-validate">
      <div class="row">
        <div class="col-xs-12">
          <%= simple_form_for [@reservation, @order] do |f| %>
            <%= f.input :cart_snapshot, as: :hidden %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
<% end %>

<%= javascript_include_tag 'cart' %>
