


<div class="search-result-center">
  <div class="search-result">
    <div class="resa-center">
    <div class="resa-search">
        <% @reservations.each do |reservation| %>
            <p># <%= reservation.id  %></p>
            <p> - </p>
            <p><%= User.find(reservation.user_id).last_name.capitalize %> <%= User.find(reservation.user_id).first_name.capitalize %></p>
            <p> - </p>
            <%= reservation.sport_category.name %>
            <p> - </p>
            <%= reservation.date %>
        <% end %>
      </div>
    </div>
  </div>
</div>
