<% content_for :title, "Airpay - Votre réservation" %>

<div class="banner-show" style="background-image: url(<%= image_path("foot.jpg") %>);">
  <div id="container-body">
    <div class="row" >
      <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        <div class="reservation-card-left">
          <div id="logo-sporting">
            <%= link_to("http://www.lesporting.club") do %>
            <%= image_tag ('logo-sporting.png')%>
            <% end %>
          </div>
          <div id="date-hour">
            <h3>
              <%= @reservation.date.strftime('%d/%m/%Y')  %>
            </h3>
            <h4>
              <%= @reservation.time.strftime('%H:%M') %>
            </h4>
          </div>
          <div id="reservation-card-left-body-info">
            <h2><strong> <%= @reservation.creator.last_name.upcase %> <%= @reservation.creator.first_name.capitalize %></strong></h2>
            <h5><%= @sport_category.name %></h5>
            <h5><%= @reservation.number_of_hour %> heures</h5>
          </div>
          <div id="reservation-price">
            <h4><%= @reservation.price_per_hour_incl_vat %> € / heure</h4>
          </div>
          <div id="reservation-card-left-body-picto">
              <%= image_tag @picto %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="reservation-card-right text-center">
          <h4>Rejoignez la team: <%= @reservation.orders.count %> / <%= @sport_category.minimum_players%></h4>
          <div class="photo-avatar-logo">
            <div id="photo-align-left">
              <% @orders.each do |order|  %>
                <div class="avatar-name-flex">
                <%= image_tag (order.user.photo_url), class: "avatar-large" %>
                <p><%=  order.user.first_name %> </p>
                </div>
              <% end %>
            </div>
          </div>
          <%= link_to "Je paye", new_reservation_order_path(@reservation), class:"btn btn-danger", id:"btn-payer" %>
        </div>
      </div>
    </div>
  </div>
</div>
